input
{
    color:black;
background-color: white;
opacity: 0.6;
  padding: 12px 20px;
  margin: 12px ;
    align-content: center;
    outline-color: white;

}
body {
    text-align: center;
}
form {
    display: inline-block;
}
h1 {
    color: white;
}