/* button {
background: #2A203D;
color:whitesmoke
  } */
.Login,
.About,
.SignUp {
	border-color: red;
	color: whitesmoke;
	background: transparent;
	size: 20px;
	margin: 10px;
}
/* .SignUp {
	border-color: red;
	color: whitesmoke;
	background: transparent;
	size: 20px;
}
.About {
	border-color: red;
	color: whitesmoke;
	background: transparent;
	size: 20px;
} */
/* button {
	margin: 10px;
} */

/* Make buttons differen colors. Change sign in to sign up. Make banner smaller */
